/* 1. Global Styles */
:root {
  --sans-serif: "Roboto";
  --bg-color: hsl(120, 100%, 98%);
  --color: hsl(120, 60%, 33%);
  --accent: hsl(0, 66%, 33%);
  --tint: hsl(120, 100%, 95%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 2. Typography Styles */

body,
::placeholder {
  font-family: var(--sans-serif);
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: var(--color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--accent);
}

.nav-link {
  text-decoration: none;
}
.nav-link:hover {
  background-color: var(--accent);
  color: var(--tint);
}

p {
  text-align: justify;
}

code {
  color: var(--accent);
}
/* 3. Structure Styles */
#main-doc {
  padding-top: 30px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

@media only screen and (min-width: 1024px) {
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100vh;
  }
  #main-doc {
    padding-left: 30vw;
    padding-top: 30px;
  }
}

/*4. Module Styles */
#navbar {
  border-right: 3px solid var(--accent);
  background-color: var(--tint);
}

/*5. Component Styles*/
.navbar-title {
  text-align: center;
  padding: 5px;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 25vh;
}

@media only screen AND (min-width: 1024px) {
  .navbar-links {
    max-height: 100vh;
  }
  #nav-bar {
    max-height: 100vh;
  }
}

.navbar-links a:first-child {
  border: 1px solid var(--accent);
  border-right: none;
}

.navbar-links a {
  border-bottom: 1px solid var(--accent);
  padding: 5px 20px;
}

.req-list {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
  background-color: var(--tint);
}

@media only screen AND (min-width: 480px) {
  .req-list {
    overflow: visible;
    background-color: var(--bg-color);
  }
}

.req-list li {
  position: relative;
}

.req-list li:before {
  content: "";
  height: 5px;
  width: 5px;
  border: 1px solid var(--accent);
  position: absolute;
  top: 0.5em;
  left: -1em;
  border-radius: 50%;
}

.code--block {
  display: block;
  background-color: var(--tint);
  line-height: 2em;
  color: var(--accent);
}

.code--overflow {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
  background-color: var(--tint);
}

@media only screen AND (min-width: 768px) {
  .code--overflow {
    overflow: visible;
    background-color: var(--bg-color);
  }
}
